{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>{{ setlist }}</h1>

    <p>The following songs were played:</p>

    {% for song in setlist.song.all %}
        <p>{{ song.title }} from
        {% for release in song.releases.all %}
            {% if forloop.first %}
                {{ release }}
            {% elif forloop.last %}
                and {{ release }}
            {% else %}
                {{ release }},
            {% endif %}
        {% endfor %}
        </p>
    {% endfor %}
    {% if user.id == setlist.author.id %}
        <a href="{% url 'edit_setlist' setlist.id %}">EDIT</a>
        <a href="{% url 'delete_setlist' setlist.id %}">DELETE</a>
    {% else %}
    <form action="{% url 'agree' setlist.pk %}" method="POST">
        {% csrf_token %}
            <input type="hidden" name="next" value=" {{ request.path }}">
            <button type="submit", name="setlist_id", value="{{ setlist.id }}">Agree</button>
        </form>
        Argeed by {{ setlist.agree.all.count }} number of users.
        <form action="{% url 'disagree' setlist.pk %}" method="POST">
        {% csrf_token %}
            <input type="hidden" name="next" value=" {{ request.path }}">
            <button type="submit", name="setlist_id", value="{{ setlist.id }}">Disagree</button>
        </form>
        Disrgeed by {{ setlist.disagree.all.count }} number of users.
    {% endif %}

{% endblock %}
</div>