{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero d-flex align-content-center flex-wrap">
        <!-- <div class="container text-center col-8" id="hero-text-box">
            <h1>Setlist Sharer</h1>
            <hr>
            <p>Setlist Sharer is well good!</p>
        </div> -->
    </div>
    
    <div class="container">
        <h1 class="text-center bold">About</h1>
        <hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nihil illo veritatis molestias pariatur. Soluta vero corporis beatae, provident praesentium obcaecati vel repudiandae, voluptatem commodi hic voluptatibus. Libero veniam at assumenda provident hic tempora unde, similique deserunt vero pariatur voluptatum atque, tempore optio voluptatem ipsum debitis quia officiis explicabo et!
        
        <div>
           <h1 class="text-center"><img src="{% static 'images/idles-logo.jpg' %}" class="col-4" id="band-logo" alt="Idles logo">winter tour 2022</h1>
        </div>
        
        <h1 class="text-center">Gigs</h1>
        <hr>
        {% for gig in gigs %}
            <div class="text-center">
                {{ gig.date }} at {{ gig.venue }} in {{ gig.venue.city }}
            </div>
            
            <div class="row">
                <div class="col-6">
                    {% if gig.image_status == 2 %}
                    <img src="{{ gig.image.url }}" class="img-fluid" alt="Photograph from {{ gig }}">            
                    {% else %}
                    <img src="{% get_static_prefix %}images/random/live{{ random_num }}.jpg" class="img-fluid" alt="Random image of a gig">
                    {% endif %}
                </div> 

                <div class="col-6 d-flex align-content-center flex-wrap">
                    <div class="row col-12">
                        {% if gig.setlist_gig.status == 1 %}
                        <div class="text-center">
                            SETLIST WAITING CONFIRMATION
                        </div>
                        {% elif gig.setlist_gig.status == 2 %}
                        <a href="/setlist/detail/{{ gig.setlist_gig.id }}" class="btn btn-info mb-2">View Setlist</a>
                        {% else %}
                        <a href="/setlist/add/{{ gig.id }}" class="btn btn-info mb-2">Add Setlist</a>
                        </a>
                        {% endif %}
                    </div>

                    <div class="row col-12">
                        {% if gig.image_status == 0 %}
                        <a href="/add-image/{{ gig.id }}" class="btn btn-info">Add Photo</a>
                        {% elif gig.image_status == 1 %}
                        <div class="text-center">
                            IMG WAITING CONFIRMATION 
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}

