{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center bold">About</h1>
        <hr>
        <p>Setlist Sharer is a site to help you share the songs that Idles played at a gig.</p>

        <p>Help others see what was played at a certain gig and add to the community!</p>

        <div>
           <h1 class="text-center"><img src="{% static 'images/idles-logo.jpg' %}" class="col-4" id="band-logo" alt="Idles logo"></h1>
        </div>
        

        <h1 class="text-center">Gigs</h1>
        <hr> 
        {% for gig in gigs %}
            <div class="text-center">
                {{ gig.date }} at {{ gig.venue }} in {{ gig.venue.city }}
            </div>
            
            <div class="row">
                <div class="col-6">
                    {% if gig.image_status == 2 %}
                    <img src="{{ gig.image.url }}" class="img-fluid" alt="Photograph from {{ gig }}">            
                    {% else %}
                    <img src="{% get_static_prefix %}images/random/live{{ image_num | random }}.jpg" class="img-fluid" alt="Random image of a gig">
                    {% endif %}
                </div> 

                <div class="col-6 d-flex align-content-center flex-wrap">
                    <div class="row col-12">
                        {% if gig.setlist_gig.status == 1 %}
                        <div class="text-center">
                            <i class="fa-solid fa-rotate pe-1"></i>Setlist Waiting Confirmation
                        </div>
                        {% elif gig.setlist_gig.status == 2 %}
                        <a href="/setlist/detail/{{ gig.setlist_gig.id }}" class="btn btn-outline-dark mb-2 main-btn">
                            <i class="fa-solid fa-file pe-1"></i>View Setlist</a>
                        {% else %}
                        <a href="/setlist/add/{{ gig.id }}" class="btn btn-outline-dark mb-2 main-btn">
                            <i class="fa-solid fa-file-circle-plus pe-1"></i>Add Setlist</a>
                        {% endif %}
                    </div>

                    <div class="row col-12">
                        {% if gig.image_status == 0 %}
                        <a href="/add-image/{{ gig.id }}" class="btn btn-outline-dark mb-2 main-btn">
                            <i class="fa-solid fa-camera pe-1"></i>Add Photo</a>
                        {% elif gig.image_status == 1 %}
                        <div class="text-center">
                            <i class="fa-solid fa-rotate pe-1"></i>Photo Waiting Confirmation 
                        </div>
                        {% else %}
                        <a href="/add-image/{{ gig.id }}" class="btn btn-outline-dark mb-2 main-btn">
                            <i class="fa-solid fa-camera pe-1"></i>View Photo</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}

