{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero d-flex align-content-center flex-wrap">
        <div class="container text-center col-8" id="hero-text-box">
            <h1>Setlist Sharer</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo hic ullam quis!</p>
        </div>
    </div>
    
    <div class="container">
        <h1 class="text-center bold">About</h1>
        <hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nihil illo veritatis molestias pariatur. Soluta vero corporis beatae, provident praesentium obcaecati vel repudiandae, voluptatem commodi hic voluptatibus. Libero veniam at assumenda provident hic tempora unde, similique deserunt vero pariatur voluptatum atque, tempore optio voluptatem ipsum debitis quia officiis explicabo et!
        
        <div>
           <h1 class="text-center"><img src="{% static 'images/idles-logo.jpg' %}" class="col-4" id="band-logo" alt="Idles logo">winter tour 2022</h1>
        </div>
        
        <h1 class="text-center">Gigs</h1>
        <hr>
        {% for gig in gigs %}
            <div class="text-center">
                {{ gig.date }} at {{ gig.venue }} in {{ gig.venue.city }}
            </div>
            
            <div class="row">
                {% if gig.image_status != 2 %}
                <div class="col-6">
                    <img src="{% get_static_prefix %}images/random/live{{ random_num }}.jpg" class="img-fluid" alt="Random image of a gig">
                </div>
                
                
                <div class="col-6 d-flex align-content-center flex-wrap">
                    <div class="row col-12">
                        <form action="/add-image/{{ gig.id }}" class="d-flex align-items-center justify-content-center">
                            <input type="submit" value="Add Photo">
                        </form>
                    </div>
                    <div class="col-12 row d-flex align-content-center flex-wrap">
                        <a href="/setlist/detail/{{ gig.setlist_gig.id }}" class="d-flex align-items-center justify-content-center">
                            <button>View Setlist</button>
                        </a>
                    </div>
                </div>
                {% else %}
                <img src="{{ gig.image.url }}" alt="Photograph from {{ gig }}"> 
                {% endif %} 
                {% if gig.setlist_gig.status == 0 %}
                <!-- SETLIST IS WAITING CONFIRMATION -->
                <!-- <ul>
                    <li>{{ gig.date }} at {{ gig.venue }} in {{ gig.venue.city }}</li>
                </ul> -->
                {% elif gig.setlist_gig.status == 1 %}
                <!-- SETLIST IS PUBLISHED -->
                <!-- {{ gig }} -->
                <!-- <div class="text-center">
                    <a href="/setlist/detail/{{ gig.setlist_gig.id }}">View Setlist</a>
                </div> -->

                <!-- <a href="/setlist/detail/{{ gig.setlist_gig.id }}" class="d-flex align-items-center justify-content-center">
                    <button>View Setlist</button>
                </a>  -->
                <div class="text-center">
                    Agreed by {{ gig.setlist_gig.agree.all.count }} 
                    {% if gig.setlist_gig.agree.all.count == 1 %} 
                        user.
                    {% else %}
                        users.
                    {% endif %}
                    Disargeed by {{ gig.setlist_gig.disagree.all.count }} 
                    {% if gig.setlist_gig.disagree.all.count == 1 %} 
                        user.
                    {% else %}
                        users.
                    {% endif %}
                    {% else %}
                    <div>
                        <a href="/setlist/add/{{ gig.id }}">{{ gig.date }} at {{ gig.venue }} in {{ gig.venue.city }}</a>
                        <a href="/setlist/add/{{ gig.id }}">ADD SETLIST</a>
                    </div>
                {% endif %}
        {% endfor %}
    </div>

    <p id="fon">gfdsgf gfdsgfds gfdsgfdsgfds</p>
        
{% endblock %}

