@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Open+Sans:wght@500;600;700&display=swap');

/* body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
} */
/* - Headings: Open Sans, with a fallback of serif. 
- Body: Crimson Text, with a fallback of sans-serif. */
body {
    background-color: blueviolet;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: sans-serif; */
}



/* .hero {
    font-family: 'PT Sans', sans-serif;;
} */


.navbar {
    height: 6rem;
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* change to use bootrap col's */
.navbar-brand {
    width: 15%;
}

.nav-item a {
    color: green !important; 
    padding: 1.5rem !important;
 }

.nav-item a.active,
.nav-item a:hover {
    color: rgb(128, 53, 0) !important; 
 }

 /* typography */
 .bold {
    font-weight: 700;
 }

/* about */
.hero {
	background: url('/static/images/crowd.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
}

/* CHANGE NAME */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background-color: rgba(188, 229, 253, 0.4);
    border-radius: 1rem;
  }

hr {
    border: 2px solid #2c3236;
    border-radius: 1px;
    width: 70%;
    margin: auto;
}

#hero-text {
    padding: 1rem 3rem;
}

#band-logo {
    padding: 1rem 3rem;
}



/* .gig-img {
    
} */

