@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Open+Sans:wght@500;600;700&display=swap');

/* General */
body {
    background-color: blueviolet;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
}

/* Nav */
nav, .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

/* ADD LATER */
/* .nav-link {
    color: 
} */

.nav-link:hover {
    color: rgb(128, 53, 0) !important; 
 }

 .nav-link:active {
    color: rgb(128, 53, 0) !important; 
 }

/* Hero */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/crowd.jpg'); 
    background-size: cover;
    background-position: center center;
}


 /* typography */
 /* .bold {
    font-weight: 700;
 } */

/* about */

/* #hero {
    height: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/crowd.jpg');
} */

/* CHANGE NAME */
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background-color: rgba(188, 229, 253, 0.4);
    border-radius: 1rem;
  } */

/* hr {
    border: 2px solid #2c3236;
    border-radius: 1px;
    width: 70%;
    margin: auto;
} */

/* #hero-text {
    padding: 1rem 3rem;
} */

/* #band-logo {
    padding: 1rem 3rem;
} */

/* #hero-text-box {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(188, 229, 253, 0.4);
    border-radius: 1rem;
    
} */

/* .gig-img {
    
} */

